{#
/**
 * @file
 * Basic implementation of arithmetic formatter.
 *
 * Available variables:
 * - result: The calculated value.
 * - source: The original expression.
 * @ingroup themeable
 */

#}
{{ attach_library('arithmetic/formatter') }}
{% set error_message = "Malformed expression."|trans %}
{% set classes = "arithmetic-infix" %}
{% if result == error_message %}
  {% set classes = classes ~ " error" %}
{% endif %}
<div class="{{ classes }}">
  <div class="result"> {{ result }} </div>
  <div class="source"> {{ source }} </div>
</div>