.arithmetic-infix.error {
  color: red;
}
.arithmetic-infix .result {
  opacity: 0;
  transition: opacity 1s;
  font-style: italic;
}
.arithmetic-infix .source {
  margin-top: -1.5em;
  opacity: 1;
  transition: opacity 1s;
}
.arithmetic-infix:hover .source {
  opacity: 0;
}
.arithmetic-infix:hover .result {
  opacity: 1;
}